html{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-color: aqua;
}

.container-flex{
    border: 1px solid gray;
    padding: 10px;
    min-height: 400px;
    background-color: aquamarine;
    display: flex;
    /*flex-wrap: si los elementos se achican o si se mueven, dentro del contenedor*/
    flex-wrap: wrap;
    /*gap hace referencia a la separacion ENTRE ELEMENTOS DEL DISPLAY*/
    gap: 5px;
    /* flex-direction: me permite decidir si vamos a utilizar FILAS o COLUMNAS*/
    flex-direction: row;
    /*justify content y align content para alinear mis contenidos*/
    justify-content:center;
    align-content: center;
}

.elementos{
    background-color: yellow;
    text-align: center;
    font-size: xx-large;
    padding: 50px;
    border: 2px solid black;

}